@font-face{
	font-family: OpenSans-Bold;
	src: url(./assets/fonts/OpenSans-Bold.ttf);
}

@font-face{
	font-family: OpenSans-Semibold;
	src: url(./assets/fonts/OpenSans-Semibold.ttf);
}

body {
	font-family: OpenSans-Bold;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: black;
	color: #fff;
}

.App {
	width: 100%;
	height: 100%;
	background: #1C7430;
	display: flex;
	justify-content: center;
	text-align: center;
}

.center {
	position: absolute;
	margin: auto;
	top: 90px;
}

.startgame {
	width: 100%;
	height: 260px;
}
@media screen and (min-width: 320px ) and (max-width:768px) {
	.startgame {
		height: 100%;
	}
}

.memory_game {
	font-family: OpenSans-Bold;
	line-height: 15px;
	width: 100%;
	height: 40px;
	margin-top: 20px;
	font-size: 28px;
	letter-spacing: 0.4px;
}

.bt_start {
	width: 140px;
	height: 40px;
	background: #fff;
	margin: auto;
	margin-top: 34px;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: #fff;
}

h3 {
	font-family: OpenSans-Bold;
	font-size: 16px;
	position: relative;
	top: 25%;
	color: #1C7430;
	letter-spacing: 0;
}

.pic {
	width: 100px;
	height: 140px;
	margin: 10px;
}
@media screen and (min-width: 320px ) and (max-width:768px) {
	.pic {
		height: 100%;
	}
}

table {
	position: absolute;
	top: 20px;
}

td {
	width: 110px;
	height: 150px;
}

.new {
	width: 480px;
	height: 20px;
	text-align: left;
	margin-left: 315px;
	opacity: 0.8;
	letter-spacing: -0.25px;
	float: left;
}

.score {
	width: auto;
	height: 20px;
	text-align: right;
	opacity: 0.8;
	float: left;
}

.font {
	font-family: OpenSans-Semibold;
	font-size: 18px;
}