<html>
	<head>
		<title>Игра</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../style.css">
	</head>

	<body>
		<div data-tid="Deck" class="App">
			<div class="new font">
				<a href="" data-tid="Menu-newGame" id="my">Начать заново</a>
			</div>
			<div class="font">Очки:&nbsp</div>
			<div class="score font" id="sum" data-tid="Menu-scores"></div>
			<div style="display:none">
			  <form action="win.html" id="secret_form" method="POST">
			    <input type="hidden" id="secret_input" name="secret_input"/>
			  </form>
			</div>

			<script src="./../js/game.js"></script>
		</div>
	</body>
</html>