<html>
	<head>
		<title>Конец</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../style.css">
	</head>

	<body>
		<div data-tid="App" class="App" align="center">
			<div class="center">
				<div class="startgame">
					<img src="../assets/images/Group%202.png">
				</div>
				<div class="memory_game">
					<p>Поздравляем!</p>
					<div id="cout"></div>
				</div>
				<a href="" data-tid="EndGame-retryGame" id="my">
					<div class="bt_start">
						<h3>Еще раз</h3>
					</div>
				</a>
			</div>
		</div>
	</body>

	<script src="./../js/win.js"></script>
</html>